

{% extends 'base_auth.html' %}
{% load static %}



{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-4">
                    <h3>Account Login</h3>
                </div>

                <form action="{% url 'login' %}" method="post" class="login-form">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="mb-2">
                        
                        <input placeholder="Username" type="text" name="username" id="usernameField" class="input form-control" value="{{fieldValues.username}}" required />
                        <i data-feather="user"></i>
                    </div>
                    <div class="username-feedback invalid-feedback" style="display:none;"></div>

                    <div class="mb-2">
                        
                        <input placeholder="Password" type="password" name="password" id="passwordField" class="input form-control" value="" required />
                        <i data-feather="lock"></i>
                        <small class="float-end py-2 passwordToggle">SHOW</small>
                    </div>
                    <div class="password-feedback invalid-feedback" style="display:none;"></div>
                    <div class="d-block-inline mb-2">
                        <input type="submit" value="Login" class="btn input-block-level form-control btn-primary" >
                        {% comment %} <button class="btn btn-primary" type="button">Button</button> {% endcomment %}
                    </div>
                    <div class="form-feedback invalid-feedback" style="display:none;"></div>
                    
                </form>
                <span><a href="{% url 'register' %}">Don't have an account?</a></span><br />
                <span><a href="{% url 'reset-password' %}">Forgot password?</a></span>
            </div>
            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/set_newpassword.js' %}"></script>

{% endblock content %}