{% extends 'base_auth.html' %}
{% block title %} > Registration Successfull{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-3">
                    <h4>Registration Successfull</h4>
                </div>

                <div class="alert alert-info mb-2">
                    <p>You can now check your email that you registered with us, we’ve emailed you instructions for for activating your account. You should receive them shortly.</p>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock content %}