

{% extends 'base_auth.html' %}
{% block title %} > Password Reset{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-3">
                    <h4>Password Reset</h4>
                </div>

                <form action="{% url 'reset-password' %}" method="post" id="registrationForm">
                {% comment %} <form action="." method="post" id="registrationForm"> {% endcomment %}
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                

                    <div class="mb-2">
                        <label for="emailField" class="form-label">Email Address</label>
                        <input type="email" class="form-control" value="{{fieldValues.email}}" required id="emailField" placeholder="Email" name="email" />
                    </div>
                    <div class="email-feedback invalid-feedback" style="display:none;"></div>

                    <div class="d-block-inline mb-2">
                        <input type="submit" value="Reset Password" class="btn input-block-level form-control btn-primary" >
                        {% comment %} <button class="btn btn-primary" type="button">Button</button> {% endcomment %}
                    </div>
                    <div class="form-feedback invalid-feedback" style="display:none;"></div>
                    
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock content %}