

{% extends 'base_auth.html' %}
{% block title %} > Password Reset Complete{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-3">
                    <h4>Password Reset Sent</h4>
                </div>

                <div class="alert alert-info mb-2">
                    <p>Your Password has been successfully reset. You can now Login.</p>
                </div>
                <div class="d-block-inline mb-2">
                    <input type="submit" value="Reset Password" class="btn input-block-level form-control btn-primary" >
                    {% comment %} <button class="btn btn-primary" type="button">Button</button> {% endcomment %}
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock content %}