

{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-3">
                    <h4>Password Reset</h4>
                </div>

                <form action="{% url 'set-newpassword' uidb64 token %}" method="POST" id="registrationForm">
                {% comment %} <form action="." method="POST" id="registrationForm"> {% endcomment %}
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                
                    <div class="mb-2">
                        <label for="passwordField" class="form-label">New Password</label>
                        <input placeholder="New Password" type="password" name="password" id="passwordField" class="form-control" value="" required />
                        <small class="float-end py-2 passwordToggle">SHOW</small>
                    </div>
                    <div class="password-feedback invalid-feedback" style="display:none;"></div>

                    <div class="mb-2">
                        <label for="passwordField" class="form-label">Confirm Password</label>
                        <input placeholder="Confirm Password" type="password" name="password2" id="passwordField2" class="form-control" value="" required />
                    </div>

                    <div class="password-feedback invalid-feedback" style="display:none;"></div>

                    <div class="d-block-inline mb-2">
                        <input type="submit" value="Reset Password" class="btn input-block-level form-control btn-primary" >
                    </div>
                    <div class="form-feedback invalid-feedback" style="display:none;"></div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/set_newpassword.js' %}"></script>

{% endblock content %}