{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'incomes:incomes' %}">Incomes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>
    {% include 'partials/_messages.html' %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="rounded shadow p-5">
                <form action="{% url 'incomes:add_income' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="">Amount</label>
                        <input type="number" class="form-control form-control-sm" id="amount" name="amount" value="{{values.amount}}" step="0.01" />
                    </div>

                    <div class="form-group mb-2">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm" id="description" name="description" value="{{values.description}}"/>
                    </div>
                        
                    <div class="form-group mb-2">
                        <label for="">Source</label>
                        <select class="form-control" name="source" id="source" >
                            {% for source in sources %}
                                {% if source.name == 'Choose...' %}
                                    <option name="source" value="{{source.name}}" selected>{{source.name}}</option>
                                {% else %}
                                    <option name="source" value="{{source.name}}">{{source.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="">Income Date</label>
                        <input type="date" class="form-control form-control-sm" id="income_date" name="income_date" max="{{max_date}}" value="{{values.income_date}}"/>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm" />
                </form>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}
