{% extends 'base.html' %}
{% block content %}

{% comment %} <h1>Add Expense</h1> {% endcomment %}
<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'incomes:incomes' %}">Income</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Incomes</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2 text-end">
            <a href="{% url 'incomes:delete_income' income.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>
    {% include 'partials/_messages.html' %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'incomes:edit_income' income.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" id="amount" name="amount" value="{{income.amount}}"/>
                </div>

                <div class="form-group mb-2">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" id="description" name="description" value="{{income.description}}"/>
                </div>

                <div class="form-group mb-2">
                    <label for="">Source</label>
                    <select class="form-control form-select" name="source" id="source">
                        
                        {% for source in sources %}
                            {% if income.source == source.name %}
                            <option name="source" value="{{income.source}}" selected>{{income.source}}</option>
                            {% elif source.name == 'Choose...' %}
                            {% else %}
                            <option name="source" value="{{source.name}}">{{source.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="">Expense Date</label>
                    <input type="date" class="form-control form-control-sm" id="expense_date" name="expense_date" max="{{max_date}}" value="{{new_date}}"/>
                </div>

                <input type="submit" value="Save" class="btn btn-primary btn-primary-sm" />
            </form>
        </div>
    </div>
    
</div>


{% endblock content %}
