#branding h1 {
    color: #fff;
}

#header {
    /* background: #2b2c3e; */
    background: #1d3557;
}

div.breadcrumbs {
    /* background: #949ebb; */
    background: #457b9d;
    color: #fff;
}

.module h2,
.module caption,
.inline-group h2 {
    background: #1d3557;
}