{% extends 'base.html' %}
{% load static %} {% load humanize %}
{% block content %}


<div class="container mt-3">
    {% include 'partials/_messages.html' %}
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'inventory:inventory' %}">Inventory</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inventory History</li>
                </ol>
            </nav>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="col-md-4">
                <div class="form-group">
                    {% if product_list.count %}
                    <select class="form-select" name="product_name" id="product_name">
                        {% for product in product_list %}
                        <option value="{{product}}" name="product_name" id="product_name">{{product}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </div>

            <div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<div class="btn-group">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
							Export
						</button>
						<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li><a href="" class="dropdown-item">CSV</a></li>
                            <li><a href="" class="dropdown-item">Excel</a></li>
						</ul>
					</div>
				</div>
				<div class="btn-group me-5">
					<a href="{% url 'inventory:add_inventory' %}" class="btn btn-primary">Add Inventory Item</a>
				</div>
            </div>
        </div>

        <div class="container">
            {% comment %} {% if inventories.count %} {% endcomment %}
            <div class="app-table">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Date Updated</th>
                            <th>Date</th>
                            <th>Customer/Supplier</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Running Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    </tbody>
                    
                </table>
            </div>

            
            
            <div class="output-table">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Date Updated</th>
                            <th>Date</th>
                            <th>Customer/Supplier</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Running Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="output-table-body">
    
                    </tbody>
                </table>
                
            </div>
            <div class="no-result-display"><p>No result Found</p></div>
    
            
            
    
            <div class="pagination-container">
                <nav>
                    <ul class="pagination pagination-sm justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo First</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last &raquo</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="" tabindex="-1" aria-disabled="true">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="" tabindex="-1" aria-disabled="true">Last &raquo</a></li>
                    {% endif %}
                    </ul>
                </nav>
            </div> 
            {% comment %} {% endif %} {% endcomment %}
        </div>

    </div>
</div>

<script src="{% static 'js/inventory_history.js' %}"></script>

{% endblock content %}