{% extends 'base.html' %}
{% block content %}

{% comment %} <h1>Add Expense</h1> {% endcomment %}
<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses:expenses' %}">Expense</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2 text-end">
            <a href="{% url 'expenses:delete_expense' expense.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>
    {% include 'partials/_messages.html' %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'expenses:edit_expense' expense.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" id="amount" name="amount" value="{{expense.amount}}"/>
                </div>

                <div class="form-group mb-2">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" id="description" name="description" value="{{expense.description}}"/>
                </div>

                <div class="form-group mb-2">
                    <label for="">Category</label>
                    <select class="form-control form-select" name="category" id="category">
                        
                        {% for category in categories %}
                            {% if expense.category == category.name %}
                            <option name="category" value="{{expense.category}}" selected>{{expense.category}}</option>
                            {% elif category.name == 'Choose...' %}
                            {% else %}
                            <option name="category" value="{{category.name}}">{{category.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="">Expense Date</label>
                    <input type="date" class="form-control form-control-sm" id="expense_date" name="expense_date" max="{{max_date}}" value="{{new_date}}"/>
                </div>

                <input type="submit" value="Save" class="btn btn-primary btn-primary-sm" />
            </form>
        </div>
    </div>
    
</div>


{% endblock content %}
