{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>

<ul class="list-group">
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
    <li class="list-group-item">Bought Something</li>
</ul>

{% endblock content %}